* {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.primary-color {
  color: #ff42a5;
}
.primary-p {
  color: #534c64;

  font-size: 1.125rem;

  font-weight: 400;
  line-height: 30px;
}
.primary-heading-black {
  color: #0b0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.primary-heading-gradient {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary-btn {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 21px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
}
.primary-btn a {
  color: #fff;
  text-decoration: none;
}

/* Navbar start */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo {
  display: flex;
  align-items: center;
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.logo a {
  padding: 25px;
  text-decoration: none;
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus a {
  padding-right: 1.875rem;
  text-decoration: none;
}

.follow-us {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px;
}
/* Navbar End */

/* First Section Start */
.goat-text {
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.goat p {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  /* padding-top: 5px; */
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

.first {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(images/Group\ 14.png);
  background-repeat: no-repeat;
  gap: 6.25rem;
  /* margin-bottom: -5px; */
}
.banner-img {
  /* margin-top: 20px; */
  /* padding-top: 20px; */
}
.button {
  margin-top: 40px;
}
.blue {
  border-radius: 48px;
  background: #4ec5f7;
}

/* First Section End */

/* Second Section Start */
.second-bg {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.second {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

.banner-img-second {
  padding: 2.5rem 0;
}
.gamer-text {
  max-width: 33rem;
  text-align: right;
}
.text-right {
  text-align: right;
}
.gamer-text p {
  padding: 1.5rem 0 2.2rem 0;
}
.purpose {
  color: #534c64;
  text-align: right;

  font-size: 1.5rem;

  font-weight: 500;
  line-height: 45px;
}
.unleash {
  color: #534c64;

  font-size: 32px;

  font-weight: 700;
  line-height: 45px;
}
/* Second Section End */

/* Third Section Start */

/* .thire-text h2 p{
    text-align: center;
} */
.third {
  width: 90rem;
  margin: 0 auto;
}
.text {
  text-align: center;
}
.text h2 {
  margin-top: 9.4rem;
}
.text p {
  margin: 1.9rem;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.card p {
  width: 21rem;
}
.card1,
.card2,
.card3,
.card4 {
  text-align: center;
  position: relative;
}

.box img {
  border: 5px solid transparent;

}
.play-btn-2 >p{
  font-size: 2rem;
  color: #fff;
}
.play-btn-2 {
  height: 83%;
  width: 95%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.6054796918767507) 35%, rgba(255,66,165,0.5550595238095238) 100%);
  top: 4px;
  right: 4px;
  border-radius: 20px;
  opacity: 0;
  border: 5px solid #ff42a5;
}
/* .pb>img:hover{
  border: 5px solid #ff42a5;
  border-radius: 25px;
  transform: scale(1.03);
  transition: 0.2s;
}

.pb:hover .play-btn-2{
  opacity: 1;
  transform: scale(1.03);
  transition: 0.2s;
  
} */

.pb:hover .play-btn-2,
.pb:hover > .play-btn {
 
  opacity: 1;
  transform: scale(1.03);
  transition: 0.2s;
  
}




/* CSS for the play button */


/* Third Section End */

/* Fourth Section Start */

 .fourth,
.fifth {
  margin: 7.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  
}
 .no-downloads {
  width: 25rem; 
  }
.no-download-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
} 

.img-position {
  position: absolute;
  top: 400px;
  right: 425px;
}

.right {
  text-align: right;
}
.no-downloads > p {
  padding-top: 1.5rem;
}
/* .img-position,
.img-position-two {
  position: absolute;
  top: 400px;
  right: 750px;
} */

/* Fourth Section End */

/* Fifth Section Start */
.fifth-top {
  margin-top: 15rem;
}
  
.no-download-img-fifth {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img-position-two-fifth {
  position: absolute;
  bottom: -110px;
  right: -165px;
}

/* Fifth Section End */

/* Sixth Section Start */

.position {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.carrer-left {
  width: 42.5rem;
  margin-left: 15rem;
}
.carrer-p {
  margin: 1.9rem 0;
}
.position p {
  line-height: 2.5rem;
}
.btn {
  margin: 3.2rem 0;
  background: white;
  color: #ff42a5;
}
.sixth {
  margin-top: 15rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: url(images/Group\ 14.png),
    linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* .carrer-right>img{
  width
} */
.line-height {
  line-height: 1.25rem;
}

.text-color {
  color: white;
}
/* Sixth Section End */

/* Seventh Section Start */

.btn-collection {
  margin: 7.5rem 0;
  text-align: center;
}
.seventh-btn {
  margin-bottom: 3.125rem;
  margin-right: 1.25rem;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 1.25rem;
  font-weight: 600;

  border-radius: 50px;
}
.seventh-btn a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  text-decoration: none;
  background-color: transparent;

  color: #0b0223;
  padding: 1.3rem 2.5rem;
}
.seventh-btn:hover {
  border-width: 2px;
  border: 2px solid #ff42a5;
  color: #ff42a5;
}
.seventh-btn a:hover {
  color: #ff42a5;
}

/* Seventh Section End */

/* Footer Section Start */
.footer-section {
  min-height: 40rem;
  width: 100vw;
  background: #0b0223;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lw a {
  color: white;
}
.about-us {
  display: flex;
  gap: 3.125rem;
  padding: 0.625rem;
  margin: 3.125rem;
}
.about-us a {
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
}
.social-media {
  display: flex;
  gap: 2.5rem;
}
.media-img {
  width: 2.5rem;
  height: 2.5rem;
}
.policy {
  display: flex;
  gap: 3.125rem;
  padding: 0.625rem;
  margin-top: 3.75rem;
  margin-bottom: 1.25rem;
}
.policy a {
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.copyright {
  padding: 0.625rem;
}
.copyright a {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding:0.3125rem;
  text-decoration: none;
}

/* Footer Section End */

@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 20px;
  }

  .menus {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .menu a {
    padding: 20px 0;
  }

  .follow-us {
    margin-bottom: 20px;
  }

  .first {
    flex-direction: column-reverse;
  }

  .goat-text {
    font-size: 64px;
  }

  .goat p {
    font-size: 16px;
    line-height: 24px;
  }

  .banner-img {
    /* margin: 20px 0; */
  }
  .banner-img img {
    width: 30rem;
  }

  .second {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .banner-img-second img {
    width: 30rem;
  }

  .gamer-text {
    text-align: center;
  }

  .text-right {
    text-align: center;
  }

  .gamer-text p {
    padding: 16px 0 24px 0;
  }

  .purpose {
    font-size: 20px;
    line-height: 30px;
  }

  .unleash {
    font-size: 24px;
    line-height: 36px;
  }

  .third {
    flex-direction: column;
    width: 30rem;
  }
  .play-btn-2{
    height: 83%;
    width:83% ;
    right: 18px;
  }

  .text {
    text-align: center;
  }

  .text h2 {
    margin-top: 100px;
  }

  .text p {
    margin: 20px;
  }

  .card {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card p {
    width: 240px;
    text-align: center;
  }

  .fourth {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 100px 0;
  }
  .no-download-img > img ,.no-download-img-fifth >img {
    width: 30rem;
  }
  .img-position > img,
  .img-position-two-fifth > img {
    width: 15rem;
  }


  .no-downloads {
    margin-top: 100px;
  }
  .right {
    text-align: center;
  }

  .fourth h2,
  .fourth p {
    text-align: center;
  }

  .fifth-top {
    margin-top: 200px;
    flex-direction: column;
  }
  .fifth{
    overflow-x: hidden;
  }

  .sixth {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 200px;
    padding: 20px 0;
  }

  .carrer-left {
    width: 30rem;
    margin-left: 0;
  }

  .carrer-right {
    display: none;
  }

  .position {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  
  }

  .btn {
    margin-top: 30px;
  }

  .seventh {
    margin-top: 100px;
  }

  .btn-collection {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
  }

  .seventh-btn {
    margin-bottom: 20px;
    
  }


  .btn-collection{
    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
    
  }

  .footer-section {
    height: auto;
    padding: 20px 0px;
  }

  .about-us {
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }

  .social-media {
    justify-content: center;
    margin: 20px;
  }

  .policy {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .copyright {
    margin-top: 10px;
  }
}
@media screen and (min-width: 567px) and (max-width: 768px) {
  /* Navbar Start */
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 20px;
  }

  .menus {
    flex-direction: column;
    align-items: center;
  }

  .menus a {
    padding-right: 1.875rem;
    text-decoration: none;
  }

  .follow-us {
    margin-bottom: 20px;
  }
  /* Navbar End */

  /* First Section Start */
  .goat-text {
    font-size: 64px;
  }

  .goat p {
    font-size: 16px;
    line-height: 24px;
  }

  .first {
    flex-direction: column-reverse;
  }

  .banner-img img {
    /* width: 30rem; */
  }

  .button {
    margin-top: 40px 0;
  }
  /* First Section End */

  /* Second Section Start */
  .second {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .banner-img-second img {
    width: 30rem;
  }

  .gamer-text {
    text-align: center;
  }

  .text-right {
    text-align: center;
  }

  .gamer-text p {
    padding: 16px 0 24px 0;
  }

  .purpose {
    font-size: 20px;
    line-height: 30px;
  }

  .unleash {
    font-size: 24px;
    line-height: 36px;
  }
  /* Second Section End */

  /* Third Section Start */
  .third {
    flex-direction: column;
    width: 48rem;
  }
.card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
  .card p {
    width: 240px;
    text-align: center;
  }
  /* Third Section End */

  /* Fourth Section Start */
  .fourth {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 100px 0;
  }

  .no-download-img img,
  .no-download-img-fifth img {
    width: 30rem;
  }

  .img-position > img,
  .img-position-two-fifth > img {
    width: 15rem;
  }

  .no-downloads {
    margin-top: 100px;
  }

  .right {
    text-align: center;
  }

  .fourth h2,
  .fourth p {
    text-align: center;
  }
  /* Fourth Section End */

  /* Fifth Section Start */
  .fifth-top {
    margin-top: 200px;
    flex-direction: column;
  }
  .fifth {
    overflow-x: hidden;
  }

  .img-position-two-fifth {
    right: -165px;
  }
  /* Fifth Section End */

  /* Sixth Section Start */
  .sixth {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 200px;
    padding: 20px 0;
  }

  .carrer-left {
    width: 30rem;
    margin-left: 0;
  }

  .carrer-right {
    display: none;
  }

  .position {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .btn {
    margin-top: 30px;
  }
  /* Sixth Section End */

  /* Seventh Section Start */
  .seventh {
    margin-top: 100px;
  }

  .btn-collection {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
  }

  .seventh-btn {
    margin-bottom: 20px;
  }
  /* Seventh Section End */

  /* Footer Section Start */
  .footer-section {
    height: auto;
    padding: 20px 0px;
  }

  .about-us {
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }

  .social-media {
    justify-content: center;
    margin: 20px;
  }

  .policy {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .copyright {
    margin-top: 10px;
  }
  /* Footer Section End */
}

