* {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.primary-color {
  color: #ff42a5;
}
.primary-p {
  color: #534c64;

  font-size: 18px;
    
  font-weight: 400;
  line-height: 30px;
}
.primary-heading-black {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
.primary-heading-gradient {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 21px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
}
.primary-btn a {
  color: #fff;
  text-decoration: none;
}

/* Navbar start */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo {
  display: flex;
  align-items: center;
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.logo a {
  padding: 25px;
  text-decoration: none;
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus a {
  padding-right: 30px;
  text-decoration: none;
}

.follow-us {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px;
}
/* Navbar End */

/* First Section Start */
.goat-text {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.goat p {
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding-top: 5px; */
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

.first {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(images/Group\ 14.png);
  background-repeat: no-repeat;
  gap: 100px;
  /* margin-bottom: -5px; */
}
.banner-img {
  /* margin-top: 20px; */
  /* padding-top: 20px; */
}
.button {
  margin-top: 40px;
}
.blue {
  border-radius: 48px;
  background: #4ec5f7;
}

/* First Section End */

/* Second Section Start */
.second-bg {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.second {
  width: 1450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.banner-img-second {
  padding: 40px 0;
}
.gamer-text {
  width: 520px;
  text-align: right;
}
.text-right {
  text-align: right;
}
.gamer-text p {
  padding: 24px 0 35px 0;
}
.purpose {
  color: #534c64;
  text-align: right;

  font-size: 24px;

  font-weight: 500;
  line-height: 45px;
}
.unleash {
  color: #534c64;

  font-size: 32px;

  font-weight: 700;
  line-height: 45px;
}
/* Second Section End */

/* Third Section Start */

/* .thire-text h2 p{
    text-align: center;
} */
.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.third > h2 {
  margin-top: 120px;
  margin-bottom: 12px;
}
.third > p {
  margin-bottom: 48px;
}
.online-games {
  margin: 30px 0 60px 0;
  width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.online-games p{
    text-align: center;
}

.box{
    
    transition: 1ms;
}
.box:hover{
    transform: scale(1.1);
    background-image: url(images/play-button\ 1.svg);
    
    z-index: 2;
}


/* Third Section End */

/* Fourth Section Start */

.fourth
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items:center;
  gap: 150px;
margin: 100px 0;
  
  
}
.no-downloads{
  width: 400px;
  margin-left: 300px;
  align-items: right;
  border: 1px solid red;
}
.no-download-img{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.right{
  text-align: right;
}
.no-downloads >p{
  padding-top: 24px;
}
.img-position{
  
  position:relative;
  top: 250px;
  right: 800px;
  
}


/* Fourth Section End */

/* Fifth Section Start */
  /* .fifth{
    grid-row: row-reverse;
  } */

/* Fifth Section End */

/* Sixth Section Start */

.position{
  
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

/* Sixth Section End */
.carrer-left{
  width: 680px;
 
  margin-left: 240px;

}
.carrer-p {
  margin: 30px 0;
}
.position p {
  line-height: 40px;
}
.btn{
  margin-top: 50px;
  background: white;
  color: #FF42A5;
}
.sixth
{
  margin-top: 240px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: url(images/Group\ 14.png) ,linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}


.line-height{
  line-height: 20px;
}

.text-color
{
  color: white;
}


/* Footer Section Start */
.footer-section {
  height: 640px;
  background: #0b0223;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lw a {
  color: white;
}
.about-us {
  display: flex;
  gap: 50px;
  padding: 10px;
  margin: 50px;
}
.about-us a {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.social-media {
  display: flex;
  gap: 40px;
}
.media-img {
  width: 40px;
  height: 40px;
}
.policy {
  display: flex;
  gap: 50px;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.policy a {
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.copyright {
  padding: 10px;
}
.copyright a {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  text-decoration: none;
}

/* Footer Section End */
